*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(10,108,241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 25%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.DateSelector{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 8px;
}
.Date{
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.CalcBtn{
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    border-radius: 8px;
}
.box{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    font-size: 1.5rem;
}
.box p{
    font-size: 1rem;
    color: rgb(139, 139, 139);
}

